<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1163">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title> Header </title>

    <!---------Jquery------------->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

    <!--Bootstrap  link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</head>

<body>
    <!----navbar Starts--->
    <style>
        /*********** Header starts***************/
        .navbar img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .container-fluid {
            position: sticky;
            top: 100;
            z-index: 99;

        }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

        .fa-angle-right {
            float: right;
        }

        .no {
            list-style-type: none;
            padding-left: 6px;
        }

        .loginbtn {
            background-color: #fff;
            padding-right: 3px;
            padding: 7px 17px;
            border-radius: 20px;
            color: #101C32;
            transition: 0.4s ease-in-out;
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 600;
            border-radius: 5px;
            border: 1px solid red;
        }

        a {
            text-decoration: none;

        }

        .loginbtn:hover {

            color: #fff;
            background: rgb(248, 47, 47);
            transition: 0.3s ease;
        }

        /************Header ends**********/
    </style>



    <!---************nav ends**********--->
    <nav class="navbar navbar-expand-lg fixed-top bg-white d-block p-2 text-bg-info">

        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../images/jumj.jpg">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">

                        <!---------------------Home finished-------------------------------------------->
                        <!----------------------------------------------------------------->
                    <li>
                        <a class="nav-link bg- active" aria-current="page" href="index.html">Home</a>
                    </li>

                    <!---------------------Campus finished-------------------------------------------->
                    <!----------------------------------------------------------------->

                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="pages/campus.html">
                            Campus
                        </a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-item">
                                <a class="text-info" href="/pages/Main-Health.html">Main-Health</a>
                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li class="dropdown-item">
                                <a class="text-info" href="/pages/Jit.html">Jit</a>
                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li class="dropdown-item">
                                <a class="text-info" href="/pages/Agri.html">Agri</a>
                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li class="dropdown-item">
                                <a class="text-info" href="/pages/Beco.html">Beco</a>
                                <i class="fa fa-angle-right"></i>
                            </li>


                        </ul>
                    </li>

                    <!----------------------------- Irshad Fiinished------------------------------------>
                    <!----------------------------------------------------------------->
                    <li class="nav-item dropdown" data-bs-theme="blue">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="pages/campus.html">
                            Irshad
                        </a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-item">
                                <a class="text-info" href="/Main-Health.html">JUMJ</a>
                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li class="dropdown-item">
                                <a class="text-info" href="/Jit.html">KJUMJ</a>
                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li class="dropdown-item">
                                <a class="text-info" href="/Agri.html">AgriJUMJ</a>
                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li class="dropdown-item">
                                <a class="text-info" href="/Beco.html">BecoJUMJ</a>
                                <i class="fa fa-angle-right"></i>
                            </li>

                        </ul>
                    </li>

                    <!----------------------------- Irshad Fiinished------------------------------------>

                    <!--------------------- History finished-------------------------------------------->
                    <!----------------------------------------------------------------->

                    <li class="nav-item dropdown" data-bs-theme="blue">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Events
                        </a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-item">
                                <a class="text-info" href="#">Main-Health</a>
                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li class="dropdown-item">
                                <a class="text-info" href="#">KitoJUMJ</a>
                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li class="dropdown-item">
                                <a class="text-info" href="#">AgriJUMJ</a>
                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li class="dropdown-item">
                                <a class="text-info" href="#">BecoJUMJ</a>
                                <i class="fa fa-angle-right"></i>
                            </li>

                        </ul>
                    </li>

                    </li>
                    <a class="nav-link active" aria-current="page" href="contact.html">Contact Us</a>
                    </li>

                    <!---------------------Contact finished-------------------------------------------->
                    <!----------------------------------------------------------------->

                    </li>

                </ul>


                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success rounded-pill" type="submit">Search</button>
                </form>

                <li class="no">
                    <a href="../login-registration.html"><button class='loginbtn rounded-pill'
                            onclick="document.getElementById('login-form').style.display='block'"
                            style="width:auto;">Login</button></a>
                </li>

            </div>

        </div>

    </nav>

    <!--------nav Ends-->

    <script src="script.js"></script>



</body>

</html>