@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(135deg, #c9dfee);
    transition: background 0.3s;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'kambh sans', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.container {
    position: sticky;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-flex;
    align-items: center;
    padding: 20px 40px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input :focus,
.form-control input :valid {
    outline: 0;
    border-bottom-radius: lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3sec cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}


/*------------Starts  Login Page Container ------------*/

.container-login {
    position: sticky;
    top: 100%;
    width: 100%;
    background: #0c0d60;
    display: center;
    align-items: center;
    padding: 1.5rem 0.5%;
}


/*------------Ends  Login Page Container ------------*/