<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="63">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title> JUMJ Website </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="icon" type="/favicon.ico" href="image/jumj.png">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!--JQuery--->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

</head>

<body class="p-1">
    <!--------Style Starts----->
    <style>
        /** 1 **/
        .header_load {
            position: absolute;
        }

        /*------ Deleted--------*/


        /** 3 **/
        .jumjwelcome_load {
            position: relative;
        }

        /** 4 **/
        .features_load {
            position: relative;
        }

        /** 5 **/
        .qirat_given_load {
            position: relative;
        }

        /** 6 **/
        .question_load {
            position: relative;
        }

        /** 7 **/
        .tuitorial_load {
            position: relative;
        }

        /** 8 **/
        .information_load {
            position: relative;
        }


        /** 9 **/
        .works_load {
            position: relative;
        }

        /** 10 **/
        .testimonial_load {
            position: relative;
            padding-top: 530px;
        }

        /** 11 **/
        .sign_load {
            position: relative;
        }

        /** 12 **/
        .footer_load {
            position: relative;
        }
    </style>


    <div>
        <header>
            {{> header}}
        </header>
        <!------- 1 ------>
        <!-------------Header Navbar starts ------>
        <div class="header_load "></div>
        <!----------------------Navbar Header Ends -------------------->


        <!------- 2 ------>

        <!---**********Side-bar starts************ ----->
        <div class="welcomejumj_load"></div>
        <!---**********Side-bar ENds************ ----->


        <!------- 3 ------>
        <!------------Features of Jumj Starts-->
        <div class="features_load"></div>
        <!------------Features of Jumj Ends-->

        <!------- 4 ------>
        <!-------- Qirat_Given Starts---------- -->
        <div class="qirat_given_load"></div>
        <!-------- Qirat_Given Ends ---------- -->



        <!------- 5 ------>
        <!-------------- Question Starts ---------->
        <div class="question_load"></div>
        <!-------------- Question Asked Ends -------->


        <!------- 6 ------>
        <!----------   tutorial  Starts ------------>
        <div class="tutorial_load"></div>
        <!-------------- Question Asked Ends --------->



        <!------- 7 ------>
        <!---------information Starts  ------>
        <div class="information_load"></div>
        <!------********* information Ends************------>

        <!------- 8 ------>
        <!-------------- works_load Starts ---------------------->
        <div class="works_load"></div>
        <!-------------- Testimonial_load Ends ---------------------->

        <!------- 9 ------>
        <!-------------- Testimonial_load Starts ---------------------->
        <div class="testimonial_load"></div>
        <!-------------- Testimonial_load Ends ---------------------->


        <!------- 10 ------>
        <!-- Sign Up For Our Newsletter Starts -->
        <div class="sign_load"></div>
        <!-- Sign Up For Our Newsletter Starts-->


        <!------- 11 ------>
        <!------------- footer  Starts ------->
        <div class="footer_load"></div>
        <!------------- Footer   Ends --------->

    </div>

    <!-------Script  JS Starts    -------->
    <script src="/src/js/script.js"></script>

</body>

<!----------Script Html load Starts-------->
<script type="text/javascript">



    /*---------- - 1 -- Header load--------*/

    $('#header_load').load('./pages/header.handlebars');


    /*---------- 2 -- jumjwelcome load--------*/
    $(function () {
        $('.welcomejumj_load').load('pages/welcomejumj.hbs');
    });
    /*---------- 3 -- features_load load--------*/
    $(function () {
        $('.features_load').load('pages/features.hbs');
    });

    /*---------- 4 -- Qirat_Given load--------*/
    $(function () {
        $('.qirat_given_load').load('pages/qirat-given.hbs');
    });

    /*---------- 5 -- tutorial_load load--------*/
    $(function () {
        $('.tutorial_load').load('pages/tuitorial.hbs');
    });

    /*---------- 6 -- QuestionAsked load--------*/
    $(function () {
        $('.question_load').load('pages/question-asked.hbs');
    });

    /*---------- 7 -- information load--------*/
    $(function () {
        $('.information_load').load('pages/informationcard.hbs');
    });

    /*---------- 8 -- works load--------*/
    $(function () {
        $('.works_load').load('pages/works.hbs');
    });

    /*---------- 9 -- Testimonial load--------*/
    $(function () {
        $('.testimonial_load').load('pages/testimonial.hbs');
    });


    /*--------- 10 -- footer load--------*/
    $(function () {
        $('.footer_load').load('./pages/footer.hbs');
    });

</script>
<!----------Script Html load Ends-------->
<!----------Script Html load Ends-------->


</html>