<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="1163">
  <meta name="viewport" content="width=device-width , initial-scale=1.0">
  <title> Best Cards </title>

  <!--Bootstrap  link-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <!--custmom cs file link Starts---->
  <link rel="stylesheet" href="../../src/css/qirat.css">
  <!---------Jquery------------->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>

</head>

<body>
  <section class="text-center te">
    <h3 class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> Different Qirat
      Given in JUMJ</h3>
  </section>

  <!------------>
  <div class=" row row-cols-1 row-cols-md-4 g-4">
    <!----- 1 -->
    <div class="card-container">
      <a href="/" class="hero-image-container">
        <img class="hero-image" src="../../images/tawhid.jpeg" alt="Spinning glass cube" />
      </a>
      <main class="main-content">
        <h1 class="text-center"><a href="#">Aqida ~ غقيدة</a></h1>
        <p class="text-center">كتاب التوحيد </p>

      </main>
      <div class="card-attribute">
        <p>The Book of <span><a href="#">Tawheed</a></span></p>
      </div>
    </div>
    <!----- 2 -->
    <div class="card-container">
      <a href="/" class="hero-image-container">
        <img class="hero-image" src="../../images/tafsir4.jpeg" alt="Spinning glass cube" />
      </a>
      <main class="main-content">
        <h1 class="text-center"><a href="#">Tafsir ~ تفسير </a></h1>
        <p class="text-center">تفسير القرآن الكريم </p>

      </main>
      <div class="card-attribute">
        <p>The Holy <span><a href="#">Quran</a></span></p>
      </div>
    </div>
    <!----- 3 -->
    <div class="card-container">
      <a href="/" class="hero-image-container">
        <img class="hero-image" src="../../images/hadith3.jpeg" alt="Spinning glass cube" />
      </a>
      <main class="main-content">
        <h1 class="text-center"><a href="#"> Hadith ~ الحديث</a></h1>
        <p class="text-center">الصحيحين و غيرهم </p>

      </main>
      <div class="card-attribute">
        <p>Hadith of <span><a href="#">Prophet</a></span></p>
      </div>
    </div>
    <!----- 4 -->
    <div class="card-container">
      <a href="/" class="hero-image-container">
        <img class="hero-image" src="../../images/nahw1.png" alt="Spinning glass cube" />
      </a>
      <main class="main-content">
        <h1 class="text-center"><a href="#">Nahw ~ النحو </a></h1>
        <p class="text-center"> الآجرومية</p>

      </main>
      <div class="card-attribute">
        <p>The Book of <span><a href="#">Grammer</a></span></p>
      </div>
    </div>

  </div>

</body>

</html>